@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Fredoka+One&family=Montserrat:wght@500&family=PT+Sans+Narrow&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=DM+Sans:wght@700&family=Fredoka+One&family=Montserrat:wght@500&family=PT+Sans+Narrow&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=DM+Sans:wght@700&family=Fredoka+One&family=Montserrat:wght@500&family=PT+Sans+Narrow&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=DM+Sans:wght@700&family=Fredoka+One&family=Merriweather+Sans:wght@600&family=Montserrat:wght@500&family=PT+Sans+Narrow&family=Rubik:wght@300&display=swap');

body,
html,
#root {
  height: 100%;
}

:root {
  --primary-color: rgb(231, 230, 230);
  --secondary-color: rgb(142, 142, 253);
  --tertiary-color: rgb(255, 174, 174);
  --border-size: 2px;
  --blue: rgb(59, 59, 194);

  /* Theme color shades */
  --theme_Color_Shade_1: #ffffff;
  --theme_Color_Shade_2: #bdde03;
  --theme_Color_Shade_3: #a1d203;
  --theme_Color_Shade_4: #53af04;
  --theme_Color_Shade_5: #408b00;

  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'DM Sans', sans-serif;
  --tertiary-font: 'Anton', sans-serif;
  --tetra-font: 'Rubik', sans-serif;
}

.error_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../src/assets/logo1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.error_page h2 {
  font-size: 3rem;
}

.top_nav {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.top_nav_bg {
  transition: 0.5s ease-in-out;
  background: #11998e;
  background: -webkit-linear-gradient(to right, #ffffff, #53af04);
  background: linear-gradient(to right, #ffffff, #53af04);
  box-shadow: 0px 1px 2px 1px rgb(3, 3, 3, 0.5);
}

.top_nav-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
}

.navbar_row {
  display: flex;
}

.navbar_item {
  margin-right: 1rem;
  font-family: var(--primary-font);
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.navbar_row > a {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.25rem 1rem;
  margin-left: 1rem;
  font-size: 1.1rem;
  color: var(--theme_Color_Shade_1);
  z-index: 1;
  font-family: var(--primary-font);
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

.navbar_row > a::before {
  content: '';
  position: absolute;
  background-color: var(--theme_Color_Shade_1);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform-origin: left;
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
}

.navbar_row > a:hover::before {
  transform: scaleX(1);
}

.navbar_row > a:hover {
  color: var(--theme_Color_Shade_5);
}

.navbar_row > .active {
  color: var(--theme_Color_Shade_5) !important;
  background-color: var(--theme_Color_Shade_1);
}

.topnav_dropdown {
  display: none;
}

.homepage {
  max-width: 100%;
  height: 100%;
}

.homepage img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.homepage_heading {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.homepage_heading h1 {
  font-size: 5rem;
  font-family: var(--secondary-font);
  color: white;
}

.homepage_heading .heading_change {
  height: 100px;
  overflow: hidden;
  padding-left: 1rem;
  position: relative;
}

.heading_move {
  animation: heading_swipe 10s infinite;
  /* position: absolute; */
}

/* .heading_move:nth-child(1) {
  color: var(--theme_Color_Shade_1);
} */

.heading_move h1 {
  color: rgb(157, 243, 157);
}
.heading_move h1 + h1 {
  color: rgb(132, 240, 132);
}
.heading_move h1 + h1 + h1 {
  color: rgb(92, 241, 92);
}
.heading_move h1 + h1 + h1 + h1 {
  color: rgb(55, 245, 55);
}

.homepage .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.2s ease-in-out;
  background-color: rgb(0, 0, 0, 0.6);
}

@keyframes heading_swipe {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -105px;
  }
  45% {
    margin-top: -105px;
  }
  50% {
    margin-top: -210px;
  }
  70% {
    margin-top: -210px;
  }
  75% {
    margin-top: -315px;
  }
  95% {
    margin-top: -315px;
  }
  100% {
    margin-top: 0;
  }
}

.scroll {
  display: flex;
  justify-content: center;
}

.scroll-btn {
  cursor: pointer;
  width: 40px;
  border: 1px solid black;
  height: 80px;
  border-radius: 20px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 15px 1px black;
  position: relative;
  top: -8rem;
  z-index: 1;
}

.scroll-btn > a {
  font-size: 1.5rem;
  color: black;
}

.about-header {
  height: 70px;
  background: var(--theme_Color_Shade_2);
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
}

.about-heading {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.about-heading h2 {
  font-family: var(--tertiary-font);
  font-size: 2.8rem;
}

.about-row {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.about-item {
  width: 300px;
  border-radius: 10px;
  text-align: center;
  padding: 1rem 0;
}

.about-item img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid var(--theme_Color_Shade_3);
  box-shadow: 1px 1px 10px 1px black;
  position: relative;
  transition: 2s;
  animation: fadeIn 1s alternate ease-in-out;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    display: none;
  }
  100% {
    display: block;
    transform: scale(1);
  }
}

.about-item h1 {
  padding: 1rem 0 0;
  font-size: 1.5rem;
  font-family: var(--tertiary-font);
}

.about-item button {
  margin: 0.5rem 0 0;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
  background: var(--theme_Color_Shade_2);
  padding: 0.5rem 1rem;
}

.about-content {
  padding: 1rem 3rem;
}

.about-content p {
  font-size: 1.1rem;
  font-family: var(--primary-font);
}

.contact {
  /* height: 100vh; */
  margin-top: 2rem;
}

.contact-header {
  height: 70px;
  background: var(--theme_Color_Shade_2);
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
}

.contact-heading {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-heading h1 {
  font-family: var(--tertiary-font);
  font-size: 2.8rem;
  margin: 0;
}

.contact-wrapper {
  background: #11998e;
  background: -webkit-linear-gradient(to top, #ffffff, #53af04);
  background: linear-gradient(to top, #ffffff, #53af04);
  padding: 1rem 0 0;
}

.contact-row {
  padding: 0 0 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  width: 700px;
}

.contact-form form label {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-family: var(--primary-font);
}

.contact-address {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
}

.contact-address i {
  font-size: 10rem;
  color: red;
}

.contact-address h1 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: var(--primary-font);
  text-align: center;
}

.contact-form .submit-btn {
  border: 1px solid black;
  padding: 0.5rem 0;
  margin-top: 2rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  background-color: transparent;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  height: 55px;
}

.contact-form .submit-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--theme_Color_Shade_3);
  z-index: -1;
  transform-origin: bottom;
  transition: transform 200ms ease-in-out;
  transform: scaleY(0);
}

.contact-form .submit-btn:hover:before,
.contact-form .submit-btn:focus::before {
  transform: scaleY(1);
}

.contact-form .submit-btn:hover,
.contact-form .submit-btn:focus {
  color: rgb(241, 255, 239);
  border: 1px solid var(--theme_Color_Shade_3);
}

.footer {
  background: var(--theme_Color_Shade_4);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.footer h1 {
  color: white;
  font-size: 1rem;
  font-family: var(--secondary-font);
  margin: 0;
}

/* .customOverlay {
  background: rgba(36, 123, 160, 0.7);
} */

.customModal {
  background: white;
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  padding: 1.2rem 0 !important;
}

.react-responsive-modal-closeButton {
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 5px rgb(61, 61, 61);
}

.modal-heading {
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
}

.modal-content {
  padding: 1rem 2rem;
}

.loader-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.2s ease-in-out;
  background-color: rgb(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  display: none;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid var(--theme_Color_Shade_3);
  width: 35px;
  height: 35px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

.contact-form .submit_loader::after {
  position: absolute;
  content: '';
  z-index: -1;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid var(--theme_Color_Shade_5);
  width: 35px;
  height: 35px;
  -webkit-animation: spin 1.2s linear infinite; /* Safari */
  animation: spin 1.2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1050px) {
  .contact-form form {
    width: 500px;
  }

  .contact-address h1 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 850px) {
  .customModal {
    max-width: unset !important;
    margin: 0 !important;
    margin-top: 6rem !important;
    height: 100%;

    /* width: 100%; */
  }

  .contact-form form {
    width: 400px;
  }
}
@media only screen and (max-width: 750px) {
  .about-row {
    flex-direction: column;
    align-items: center;
  }

  .about-item {
    padding: 2rem 0;
  }

  .contact-row {
    flex-direction: column-reverse;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form form {
    width: 100%;
  }
}
/* @media only screen and (max-width: 992px) {
  .top_nav .navbar-brand {
    display: none;
  }

  .homepage img {
    height: calc(100vh - 56px);
  }

  .homepage .overlay {
    height: calc(100vh - 56px);
    top: 56px;
  }

  .homepage_heading h1 {
    font-size: 3.5rem !important;
  }
} */

@media only screen and (max-width: 700px) {
  .homepage_heading {
    flex-direction: column;
  }

  .homepage_heading .heading_change {
    text-align: center;
  }

  .topnav_dropdown {
    display: block;
  }

  .topnav_dropdown .dropdown_btn {
    background: transparent;
    border: 1px solid var(--theme_Color_Shade_1);
    position: relative;
    /* z-index: 1; */
  }

  .topnav_dropdown .dropdown_btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--theme_Color_Shade_1);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 200ms ease-in-out;
  }

  .topnav_dropdown .dropdown_btn:hover::before,
  .topnav_dropdown .dropdown_btn:focus::before {
    transform: scaleX(1);
  }

  .topnav_dropdown .dropdown_btn:hover,
  .topnav_dropdown .dropdown_btn:focus {
    color: var(--theme_Color_Shade_5);
  }

  .dropdown-toggle::after {
    display: none;
  }

  .navbar_row {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  .top_nav-nav {
    width: 90%;
  }
}
